

.myheader{
  text-align: center;
  background-color: wheat;
  background: url(https://cdn.theatlantic.com/thumbor/LFE8p7pvgmM6EF0sHsGouBuc-24=/0x45:2953x1706/720x405/media/img/mt/2018/07/RTXUW6X/original.jpg);
}

.profile_pic{
    border-radius: 50%;
}

.carousel-item {
 height: 500px;
 text-align: center;
}


.item1 {
  /*background-color:red;*/
  /*height: 100px;*/
  background: url(https://cdn.theatlantic.com/thumbor/LFE8p7pvgmM6EF0sHsGouBuc-24=/0x45:2953x1706/720x405/media/img/mt/2018/07/RTXUW6X/original.jpg);
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}



